* {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, nav a {
  font-family: 'Bungee';
}

header.center {
  text-align: center;
  float: left;
  width: 30%;
}

.no-style-list {
  list-style-type: none;
}

nav li{
  margin: 20px;
  font-size: 24px;
}

/*removes underlines */
a {
  text-decoration: none;
}

/*pikachu avatar to be circular and centered */
#avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-image: url(../pictures/profilepic.png);
  background-size: cover;
  background-position: top center;
}

main.container {
  background-color: blue;
  float: right;
  width: 70%;
  height: 800px;
}

header.center {
  background-color: antiquewhite;
  text-align: center;
  height: 775px;
  padding-top: 25px;
}

#contact img {
  width: 35px;
  padding-top: 3px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

footer.social {
  background-color: aqua;
}

body {
  margin: 0; /*no weird white border*/
}